* {
  margin: 0;  
  text-decoration-color:#7f8c8d;
}
a {
  text-decoration: none;
}
a:visited {
  color:#7f8c8d;
}
ul {
  list-style-type: none;
}
#fondo {
    background-color: #ffffff;
    position: absolute;

}
nav {
  width: 100%;
  height: 300px;
  position: fixed;
  display: flex;
  align-items: start;
  flex-direction: column;
}
.modulo1 {
    background-color: #088138;
    width: 100%;
}
.modulo1 ul{
    justify-content: flex-end;
}
nav ul{
  display:flex;
  gap: 25px;
}
.modulo2 {
  width: 96%;
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
  justify-content:space-between;
  align-items: center;
  height: 100px;
}
#buscar {
  border: 2px solid #088138;
  margin-top: 10px;
  height: 40px;
  border-radius: 55px;
}
#carrito {
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #088138;
  margin-top: 10px;
  border-radius: 55px;
}
.modulo3 {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.modulo4 {
  width: 100%;
  background-color: #e3d314;
  justify-content: space-between;
}
#barra_deslizable {
  display: flex;
  justify-content: center;
  width: 100%;
}
