* {
    margin: 0;
}
body {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
}
#fondo {
    background-color: #9b84bc;
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: absolute;
}
nav {
    background-color: #7b6797;
    width: 100%;
    height: 100px;
    position: fixed;
    display:flex;
    z-index: 2;
    align-items:center;
    justify-content: space-between;
}
nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
    margin-right: 20px;
}
nav ul a {
    text-decoration: none;
}
.logo {
    display: flex;
    justify-content:start;
    height: 100px;
}
main {
    padding-top: 100px;
}
#whatsapp {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    transition: 200ms;
}
#whatsapp:hover {
    transform: scale(1.15);
}
h1{
    padding: 20px;
    margin-left: 20px;
}
#descripcion{
    margin-left: 40px;
    text-wrap: wrap;
    max-width: 300px;
}
h2{
    margin: 10px;
    padding: 20px;

}